asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.1
crispy-bootstrap4==2022.1
Django==4.0.10
django-bootstrap-v5==1.0.11
django-cors-headers==4.3.0
django-crispy-forms==2.0
django-taggit==4.0.0
django-upgrade==1.14.0
djangorestframework==3.14.0
exceptiongroup==1.1.3
h11==0.14.0
idna==3.4
linkedin-scraper==2.11.2
lxml==4.9.3
outcome==1.3.0.post0
packaging==23.2
PySocks==1.7.1
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
selenium==4.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
tokenize-rt==5.1.0
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.7.0
urllib3==2.0.7
webdriver-manager==4.0.1
wsproto==1.2.0